<div class="container">
    <div class="shop-font">Oligarcha</div>
    <div class="shop-quote">Booking jachtów</div>
</div>
<div class="page-content">
<app-menu (selectionEvent)="getCategory($event)"></app-menu>
<app-yacht-selection [yachtCategory]="yachtCategory"></app-yacht-selection>
<div>
    <p style="font-size: larger;">Kontakt</p>
    <br>
    <p>Adres:</p>
    <p>ul. Przemysłowa 13 03-005 Zagłębie Górne</p>
    <p>Kontakt:</p>
    <p>tel: +48 679-456-235</p>
    <p>email: oligarchabooking@gmail.com</p>
</div>
</div>
